.run-result {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
}
.run-result__source,
.run-result__result,
.run-result__error {
  width: 45%;
}
.run-result h5 {
  margin: 0px;
}
.run-result:nth-child(odd) {
  background-color: #F4F4F4;
}

/* source */
.run-result pre {
  margin: 2px;
  padding: 5px;
  border: 1px solid #C7C7C7;
  overflow-x: auto;
}

/* error */
.run-result__error h5 {
  color: #F7C8E0;
}
.run-result__error td {
  width: 50%;
}
.run-result__error__name {
  color: #B4E4FF;
}
.run-result__error__message {
  color: #95BDFF;
}